/***************************************************
LAYOUT TV
***************************************************/

@import url("https://cdn.jsdelivr.net/gh/prayag17/Jellyfin-Icons/Font%20Awesome/solid.css");
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/*Général*/
.layout-tv {font-family: 'Quicksand', sans-serif;font-size:124% !important;}
.defaultCardBackground, #loginPage .defaultCardBackground {background: linear-gradient(141deg,#AA5CC3,#00A4DC)!important;}
/* Page Login*/
.layout-tv .hideMainDrawer .backdropContainer {background: url('/Branding/Splashscreen?format=jpg&foregroundLayer=0.15');background-position: center;background-size: cover;filter: blur(10px);}
.layout-tv .hideMainDrawer .backgroundContainer {background-color: rgba(0,0,0,0.60);}
#loginPage .cardBox {background-color: rgba(0, 0, 0, 0.6);border-radius:.3em;}
#loginPage .cardScalable {padding:3% 3% 5% 3%;background-color: rgba(0, 0, 0, 0.4);}
#loginPage .cardPadder {border-radius:.3em .3em 0 0;}
#loginPage .cardContent {border-radius:50%;width:70%;height:70%;top:15%;left:15%;}
#loginPage .readOnlyContent {margin-top:4vw !important;}
#loginPage .emby-button.show-focus {background-color: rgba(0, 0, 0, 0.6);max-width:60%;margin-left:auto;margin-right:auto;margin-bottom:.5vw;border-radius:.3em;}
#loginPage .emby-button.show-focus:focus {background-color: rgba(255, 255, 255, 1);transform: scale(1.02);color:#000;}
	/* Effet affiches */
	.layout-tv .card.show-animation:focus>.cardBox {-webkit-transform:scale(1.06);transform: scale(1.06);border:none !important;}
	.layout-tv .card:focus .cardBox.visualCardBox, .card:focus .cardBox:not(.visualCardBox) .cardScalable {border:none !important;-webkit-border:none;}
	.layout-tv .card:focus .cardBox.visualCardBox, .card:focus .cardBox:not(.visualCardBox) .cardScalable::after {content: '';position: absolute;top: 0; left: 0;right: 0; bottom: 0;background: rgba(255, 255, 255, 0.2);border-radius:.5em .5em 0 0;}
	.layout-tv .cardBox {background-color: rgba(0, 0, 0, 0.4);border-radius:.5em;-webkit-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.3);-moz-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.3);box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.5);}
	.layout-tv .card .cardBox.visualCardBox, .layout-tv .card .cardBox:not(.visualCardBox) .cardScalable, .layout-tv .card .cardBox:not(.visualCardBox) .cardPadder, .layout-tv .cardScalable .cardImageContainer {border-radius: .5em .5em 0 0;}
	.layout-tv .cardText-secondary {padding-bottom: 10px;}
	/* Effet Menu & Aperçu */
	.layout-tv .section0 .card:focus .cardBox.visualCardBox, .section0 .card:focus .cardBox:not(.visualCardBox) .cardScalable::after {content: '';position: absolute;top: 0; left: 0;right: 0; bottom: 0;background: rgba(255, 255, 255, 0.15);border-radius:.5em;}
	/* Couleur hover & focus */
	.layout-tv .dialog .emby-button.show-focus:focus {color:#000;background: #fff;}
	/* Top Menu */
	.layout-tv .skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred {background: none;background-color: rgba(0, 0, 0, 0);}
/* Accueil */
.layout-tv .withSectionTabs .backdropImage {filter: blur(20px);}
.layout-tv .withSectionTabs .backgroundContainer {background:none;background-color:rgba(0,0,0,.8);}
	/* Mes Medias */
	.layout-tv .section0 .itemsContainer-tv>.overflowBackdropCard {width:20vw;}
	.layout-tv .section0 .cardBox {background: none;border-radius:.5em;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
	.layout-tv .section0 .card .cardBox.visualCardBox, .layout-tv .section0 .card .cardBox:not(.visualCardBox) .cardScalable, .layout-tv .section0 .card .cardBox:not(.visualCardBox) .cardPadder, .layout-tv .section0 .cardScalable .cardImageContainer {border-radius: .5em;}

/* Page Sagas */
.layout-tv .detailPagePrimaryContent .detailSection {padding-bottom:3vw;}
.layout-tv .itemDetailsGroup {margin-top:0;}
.layout-tv .collectionItems {padding-left: 0;}
.layout-tv .collectionItems .padded-left {padding-left:0;}

/* Page Series */
.layout-tv #seriesAirTime .emby-button.show-focus:focus {color: #00A4DC !important;-webkit-transform:none;transform:none;background:none;}
	/* A Suivre */
	.layout-tv .nextUpSection .itemsContainer-tv>.overflowBackdropCard {width:20vw;}
	.layout-tv .nextUpSection .cardBox {background: none;border-radius:.5em;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
	.layout-tv .nextUpSection .card .cardBox.visualCardBox, .layout-tv .nextUpSection .card .cardBox:not(.visualCardBox) .cardScalable, .layout-tv .nextUpSection .card .cardBox:not(.visualCardBox) .cardPadder, .layout-tv .nextUpSection .cardScalable .cardImageContainer {border-radius: .5em;}
	.layout-tv .nextUpSection .card:focus .cardBox.visualCardBox, .nextUpSection .card:focus .cardBox:not(.visualCardBox) .cardScalable::after {content: '';position: absolute;top: 0; left: 0;right: 0; bottom: 0;background: rgba(255, 255, 255, 0.2);border-radius:.5em;}
	/* Plus De Saison */
	.layout-tv .moreFromSeasonSection .itemsContainer-tv>.overflowBackdropCard {width:20vw;}
	.layout-tv .moreFromSeasonSection .cardBox {background: none;border-radius:.5em;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
	.layout-tv .moreFromSeasonSection .card .cardBox.visualCardBox, .layout-tv .moreFromSeasonSection .card .cardBox:not(.visualCardBox) .cardScalable, .layout-tv .moreFromSeasonSection .card .cardBox:not(.visualCardBox) .cardPadder, .layout-tv .moreFromSeasonSection .cardScalable .cardImageContainer {border-radius: .5em;}
	.layout-tv .moreFromSeasonSection .card:focus .cardBox.visualCardBox, .moreFromSeasonSection .card:focus .cardBox:not(.visualCardBox) .cardScalable::after {content: '';position: absolute;top: 0; left: 0;right: 0; bottom: 0;background: rgba(255, 255, 255, 0.2);border-radius:.5em;}
	/* Saisons */
	.layout-tv #childrenCollapsible .cardText {padding-bottom: 10px;}
	/* Episodes */
	.layout-tv #childrenCollapsible .listItem {background-color: rgba(0, 0, 0, 0.6);border-radius: .3em;margin-bottom: 1vw;}
	.layout-tv #childrenCollapsible .listItem:focus {background-color: rgba(0, 0, 0, 0.2);color:#e2e2e2;font-weight:400;}
	.layout-tv #childrenCollapsible .listItem:focus .listItemImage::after {content: '';position: absolute;top: 0; left: 0;right: 0; bottom: 0;background: rgba(255, 255, 255, 0.2)}
	.layout-tv .listItemImage-large-tv {height:13vw !important;}
	.layout-tv #childrenCollapsible .mediaInfoItem {padding-top:1vw;}
	.layout-tv #childrenCollapsible .starRatingContainer {padding-top:0;}
	.layout-tv #childrenCollapsible .listItem .secondary {text-align: justify;}

/* Page Films */
.layout-tv #moviesPage .alphaPicker-fixed.alphaPicker-tv {padding-top:6.7em;top:4em;}
.layout-tv .detailImageContainer .card .cardBox {display:none;}
.layout-tv .detailPagePrimaryContainer {padding-left: 4vw !important;margin-top:2vw;}
.layout-tv [dir=ltr] .detailPagePrimaryContainer {padding-left: 4vw !important;}
	/* Image Fond & Backdrop */
	.layout-tv .backdropImage {background-position: top right;background-repeat: repeat;background-size: 75% !important;}
	.layout-tv .withBackdrop {background-color: rgba(0,0,0,.7);background-size: cover;width: 100%;height: 100%;mask-image:radial-gradient(ellipse at top right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 50%);backdrop-filter:blur(80px);-webkit-mask-image:radial-gradient(ellipse at top right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 50%);}
	/* Titres */
	.itemName.parentNameLast.withOriginalTitle {color:#fff;text-transform: capitalize;}
	.itemName.originalTitle {font-style:italic;font-weight:200;}
	/* Media Infos */
	.layout-tv .mediaInfoItem {color:#8C8C8C;}
	.layout-tv .mediaInfoOfficialRating {color: #0D0D0D;border-radius: .3em;padding: 2px 7px;background-color: rgba(255,255,255,0.90);border: none;font-weight: 600;}
	.layout-tv .endsAt {width:100%;padding-top:1vw;padding-bottom:1vw;font-style:italic;font-size:.9em;color:#5F5F5F;}
	/* Notes */
	.layout-tv .starRatingContainer {background-color: rgba(0,0,0,.5);padding:2px 7px;border-radius:.3em;color:#e2e2e2;}
	.layout-tv .mediaInfoCriticRatingFresh {background-position: 20%;}
	.layout-tv .mediaInfoCriticRating {background-color: rgba(0,0,0,.5);padding:2px 5px 2px 35px;border-radius:.3em;color:#e2e2e2;}
	/* Boutons */
	.layout-tv .detailButton {border-radius:50%;margin:.7% !important;background:rgba(255,255,255,0.10);flex-direction: row;color: #b8b8b8;}
	.layout-tv .detailButton:focus:after {content : attr(title);color: #151515;border-radius:3em !important;font-weight:600;}
	.layout-tv .detailButton:focus, .layout-tv .detailButton:hover {background-color:rgba(255,255,255,1) !important;transform: scale(1) !important;border-radius: 3em !important;color:#000;transition: margin-left 1s;}
	.layout-tv .mainDetailButtons {margin-top: 1.5em; font-size:100%}
	.layout-tv .material-icons.detailButton-icon.play_arrow {color: #000;}
	.layout-tv .listViewUserDataButtons {display: none;}
	.layout-tv .detailButton-content {margin:3px;}
		/* Lecture */
		.layout-tv .btnPlay {border-radius: 3em;background-color: #fff;color:#151515;}
		.layout-tv .btnPlay:hover, .layout-tv .btnPlay:focus {;transform: scale(1.2) !important;}
		.layout-tv .btnPlay::after {content : attr(title);margin: 0 10px 0 2px;color: #151515 !important;font-weight:600 !important;}
		.layout-tv .btnPlay.detailButton {flex-direction: row;}
	/* Selection Version & Audio & Sous-titres */
	.layout-tv .detailPageContent {padding-left: 4vw;margin-top:2vw;}
	.layout-tv .trackSelections {margin-bottom:3vw;}
	.layout-tv .trackSelections .selectContainer .selectLabel {display: none;}
	.layout-tv .trackSelections .selectArrowContainer {color:#00A4DC;top:.5em;}
	.layout-tv .detailTrackSelect {background: none;border: none;color:#00A4DC;}
	.layout-tv .trackSelections .trackSelectionFieldContainer {background-color:rgba(255,255,255,0.10);border-radius:.3em;padding:.5em;display:inline-block;max-width:30%;font-size:90%;}
	.layout-tv .trackSelections .selectContainer .selectAudio, .layout-tv .trackSelections .selectContainer .selectSubtitles, .layout-tv .trackSelections .selectContainer .selectSource {max-width:90%;}
	.layout-tv .trackSelections .trackSelectionFieldContainer:focus-within {background:rgba(255,255,255,0.20);}
	.layout-tv .trackSelections .selectContainer .detailTrackSelect:focus {color: #e2e2e2 !important;-webkit-transform:none;transform:none;}

	/* Synopsis & Infos */
	.layout-tv .detailSection {padding-bottom:4vw;}
	.layout-tv .detailSectionContent {color:#fff;text-align:justify;width:60%;margin-bottom: 2vw;}
	.layout-tv .itemDetailsGroup {color:#A4A4A4;}
	.layout-tv .itemDetailsGroup .show-focus:focus, .layout-tv .itemDetailsGroup .show-focus:hover {background-color:transparent;transform: none;color:#00A4DC !important;}
	.layout-tv .detailSection .detail-clamp-text {display: inline-block;}
		/* Bouton Voir Plus */
		.layout-tv .overview-expand {-webkit-transform:none;transform: none;border-radius: .3em;color:#8C8C8C;padding:.5em;}
		.layout-tv .overview-expand:focus {background-color:rgba(0,255,255,0.10);color:#e2e2e2;transform:none;}
	/* Mot Clés, Liens Externes*/
	.itemTags, .itemExternalLinks {display:none;}
	/* Distribution Cercles */
	#castContent .cardBox {background: none;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
	#castContent .cardImageContainer.coveredImage.cardContent.itemAction.lazy.non-blurhashable.lazy-image-fadein-fast,
	#castContent .cardScalable .cardImageContainer {border-radius: 50%;}
	#castContent .cardPadder.cardPadder-overflowPortrait.lazy-hidden-children, #castContent .cardPadder-mixedPortrait, #castContent .cardPadder-overflowPortrait, #castContent #castContent .cardPadder-portrait, #castContent .overflowPortraitCard-textCardPadder {border-radius: 50%;padding-bottom: 100%;}
	#castContent .cardOverlayButton-br {bottom: 0;position: absolute;left: 38%;}
	#castContent .cardOverlayContainer {border-radius: 50%;}
	#castContent > button > div > div.cardScalable > div.cardImageContainer.coveredImage.cardContent.lazy.non-blurhashable.lazy-image-fadein-fast {border-radius:50%;}
	#castContent .personCard:focus .cardBox .cardScalable {border-radius:50%;filter:none;border:solid 3px #fff !important; border-color: #fff !important;}
	#castContent .personCard:focus .cardBox .cardScalable::after {background: none;}

/* Lecteur */
.layout-tv .sliderBubble {border-radius:.3em;background:rgba(0,0,0,0.40);}
	/* Episode Suivant */
	.layout-tv .upNextContainer {right:2%;border-radius:.3em;}
	.layout-tv .upNextContainer h2.upNextDialog-nextVideoText {font-size:1.4em;}
	.layout-tv .upNextContainer .endsAt {padding-top:0;}
	.layout-tv .upNextContainer .emby-button {border-radius:3em;}
	.layout-tv .upNextContainer .emby-button:focus {background:#fff;color:#000;transform:none}
	
