/***************************************************
LAYOUT TV
***************************************************/

@import url("https://cdn.jsdelivr.net/gh/prayag17/Jellyfin-Icons/round.css");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");


/* Variables*/
:root {
	--shadowing: 0px 1px 2px 0px rgba(0,0,0,0.4);
	--shadowing-focus: 0px 5px 15px 5px rgba(0,0,0,0.4);
	--border-radius-buttons: .3em;
	--border-radius-command-buttons: 3em;
	--border-radius-play-button: 50%;
	--text-shadow-content: 2px 2px 3px rgba(0,0,0,1);
}

/*Général*/
.layout-tv {font-family: 'Quicksand', sans-serif;font-size:124% !important;}
.layout-tv h2 {font-size:1.3em !important;}
.layout-tv .homeSectionsContainer h2.sectionTitle {font-size:1.1em !important;text-transform:uppercase;}
.layout-tv .sectionTitle {color:#fff;margin-bottom:.4em !important;}
.layout-tv .sectionTitle:after {font-family: 'Material Symbols Rounded' !important; content:"\e5cc";font-weight:100;position :absolute;line-height:1.6em;}
.defaultCardBackground, #loginPage .defaultCardBackground {background: linear-gradient(141deg,#AA5CC3,#00A4DC)!important;}
.layout-tv .content-primary, .padded-bottom-page, .page, .pageWithAbsoluteTabs .pageTabContent {padding-bottom:0 !important;}

/* Top Menu */
.layout-tv .pageWithAbsoluteTabs:not(.noSecondaryNavPage) {padding-top:6vw !important;}
.layout-tv .skinHeader, .layout-tv .skinHeader.semiTransparent {background:linear-gradient(to bottom, rgba(0,0,0,.5), transparent);box-shadow:none;}
.layout-tv .skinHeader .emby-tab-button.show-focus:focus {color:#fff;}
.layout-tv .material-icons.arrow_back:before {content:"\e5e0";font-weight:200;font-family: 'Material Symbols Rounded' !important;}
/* Accueil */
.layout-tv .withSectionTabs .backdropImage {background-color:transparent;background-size:100% !important;}
.layout-tv .withSectionTabs .withBackdrop {background-color:rgba(0,0,0,.9);mask:none;-webkit-mask:none;backdrop-filter:none;background-image:none;}
	/* My Medias */
	.layout-tv .section0 .cardText {display:none;}
	.layout-tv .section0 .overflowBackdropCard .cardScalable {border:solid 2px transparent !important;}
	.layout-tv .section0 .overflowBackdropCard:focus .cardScalable {border:solid 2px rgba(255,255,255,1) !important;}
	/* My Medias (small)*/
	.layout-tv .section0 {margin:0 0 2vw 0;}
	.layout-tv .section0 .itemsContainer {padding-left:1.4vw !important;}
	.layout-tv .section0 .sectionTitle {display:none;}
	.layout-tv .section0 .raised {background: none;font-weight:100;font-size:1.4em;min-width:0;color:rgba(255, 255, 255, 0.4);border-radius:0;}
	.layout-tv .section0 .raised:hover, .layout-tv .section0 .raised:focus {color:rgba(255, 255, 255, 0.87);transform: scale(1.1) !important;}
	.layout-tv .section0 .homeLibraryIcon {display:none;}
/* Page Login*/
#loginpage {background: url('/Branding/Splashscreen?format=jpg&foregroundLayer=0.15');background-position: center;background-size: cover;filter: blur(10px);}
.layout-tv .hideMainDrawer .backgroundContainer {background-color: rgba(0,0,0,0.60);}
#loginPage .cardBox {background-color: rgba(0, 0, 0, 0.6);border-radius:var(--border-radius-buttons);}
#loginPage .cardScalable {padding:3% 3% 5% 3%;background-color: rgba(0, 0, 0, 0.4);}
#loginPage .cardPadder {border-radius:.3em .3em 0 0;}
#loginPage .cardContent {border-radius:50%;width:70%;height:70%;top:15%;left:15%;}
#loginPage .readOnlyContent {margin-top:4vw !important;}
#loginPage .emby-button.show-focus {background-color: rgba(0, 0, 0, 0.6);max-width:60%;margin-left:auto;margin-right:auto;margin-bottom:.5vw;border-radius:var(--border-radius-buttons);}
#loginPage .emby-button.show-focus:focus {background-color: rgba(255, 255, 255, 1);transform: scale(1.02);color:#000;}
/* Effet affiches Verticales*/
.layout-tv .card.show-animation:focus>.cardBox {-webkit-transform:scale(1.1);transform: scale(1.1);border:none !important;}
.layout-tv .card:focus .cardBox.visualCardBox, .card:focus .cardBox:not(.visualCardBox) .cardScalable {border:none !important;-webkit-border !important:none;box-shadow:var(--shadowing-focus);}
.layout-tv .card:focus .cardBox.visualCardBox, .card:focus .cardBox:not(.visualCardBox) .cardScalable::after {content: '';position: absolute;top: 0; left: 0;right: 0; bottom: 0;background: rgba(255, 255, 255, 0.2);border-radius:0;}
.layout-tv .cardBox {border-radius:0;}
.layout-tv .card .cardBox.visualCardBox, .layout-tv .card .cardBox:not(.visualCardBox) .cardScalable, .layout-tv .card .cardBox:not(.visualCardBox) .cardPadder, .layout-tv .cardScalable .cardImageContainer {border-radius: 0;}
.layout-tv .cardText-first {color:#fff;}
.layout-tv .cardText-secondary {padding-bottom: 10px;}
.layout-tv .cardBox:not(.visualCardBox) .cardPadder {background-color:transparent;box-shadow: none !important;}
/* Effet affiches Horizontales*/
.layout-tv .overflowBackdropCard .cardTextCentered, .layout-tv .backdropCard .cardTextCentered {text-align:left !important;}
.layout-tv .overflowBackdropCard .cardBox-bottompadded {margin-top:.2em;}
/* Effet Menu & Aperçu */
.layout-tv .section0 .card .cardBox.visualCardBox, .section0 .card .cardBox:not(.visualCardBox) .cardScalable::after {content: '';position: absolute;top: 0; left: 0;right: 0; bottom: 0;background: rgba(0, 0, 0, 0.5);border-radius:0;}
.layout-tv .section0 .card:focus .cardBox.visualCardBox, .section0 .card:focus .cardBox:not(.visualCardBox) .cardScalable::after {background: rgba(255, 255, 255, 0);}
/* Boutons Item View */
.layout-tv .itemsViewSettingsContainer .emby-button.show-focus:focus {background:#fff;color:#000;border-radius:var(--border-radius-buttons);transform: scale(1.1)!important;-webkit-transform: scale(1.1);}

	/* Couleur hover & focus */
	.layout-tv .dialog .emby-button.show-focus:focus {color:#000;background: #fff;}


/* Pages Categories */
/* Page Sagas */
.layout-tv .detailPagePrimaryContent .detailSection {padding-bottom:3vw;}
.layout-tv .itemDetailsGroup {margin-top:0;}
.layout-tv .collectionItems {padding-left: 0;}
.layout-tv .collectionItems .padded-left {padding-left:0;}

/* Page Series */
.layout-tv #seriesAirTime .emby-button.show-focus:focus {color: #00A4DC !important;-webkit-transform:none;transform:none;background:none;}
	/* Navigation Buttons */
	.layout-tv .parentName .emby-button.show-focus, .layout-tv .infoText .emby-button.show-focus {padding:.2em;border-radius: var(--border-radius-buttons);}
	.layout-tv .parentName .emby-button.show-focus:focus, .layout-tv .infoText .emby-button.show-focus:focus {transform:scale(1.1) !important;webkit-transform:scale(1.1) !important;color:#fff !important;background: rgba(255,255,255,.2)}
	/* A Suivre */
	.layout-tv .nextUpSection .itemsContainer-tv>.overflowBackdropCard {width:20vw;}
	.layout-tv .nextUpSection .cardBox {background: none;border-radius:var(--border-radius-buttons);-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
	.layout-tv .nextUpSection .card .cardBox.visualCardBox, .layout-tv .nextUpSection .card .cardBox:not(.visualCardBox) .cardScalable, .layout-tv .nextUpSection .card .cardBox:not(.visualCardBox) .cardPadder, .layout-tv .nextUpSection .cardScalable .cardImageContainer {border-radius:0;}
	.layout-tv .nextUpSection .card:focus .cardBox.visualCardBox, .nextUpSection .card:focus .cardBox:not(.visualCardBox) .cardScalable::after {content: '';position: absolute;top: 0; left: 0;right: 0; bottom: 0;background: rgba(255, 255, 255, 0.2);border-radius:0;}
	/* Plus De Saison */
	.layout-tv .moreFromSeasonSection .itemsContainer-tv>.overflowBackdropCard {width:20vw;}
	.layout-tv .moreFromSeasonSection .cardBox {background: none;border-radius:0;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
	.layout-tv .moreFromSeasonSection .card .cardBox.visualCardBox, .layout-tv .moreFromSeasonSection .card .cardBox:not(.visualCardBox) .cardScalable, .layout-tv .moreFromSeasonSection .card .cardBox:not(.visualCardBox) .cardPadder, .layout-tv .moreFromSeasonSection .cardScalable .cardImageContainer {border-radius:0;}
	.layout-tv .moreFromSeasonSection .card:focus .cardBox.visualCardBox, .moreFromSeasonSection .card:focus .cardBox:not(.visualCardBox) .cardScalable::after {content: '';position: absolute;top: 0; left: 0;right: 0; bottom: 0;background: rgba(255, 255, 255, 0.2);}
	/* Saisons */
	.layout-tv #childrenCollapsible .cardText {padding-bottom: 10px;}
	/* Episodes */
	.layout-tv #childrenCollapsible .listItem {background-color: rgba(0, 0, 0, 0.6);border-radius:0;margin-bottom: 1vw;box-shadow:var(--shadowing);}
	.layout-tv #childrenCollapsible .listItem:focus {background-color: rgba(0, 0, 0, 0.9);color:#e2e2e2;font-weight:400;box-shadow:var(--shadowing-focus);}
	.layout-tv #childrenCollapsible .listItem:focus .listItemImage::after {content: '';position: absolute;top: 0; left: 0;right: 0; bottom: 0;background: rgba(255, 255, 255, 0.2);}
	.layout-tv .listItemImage-large-tv {height:13vw !important;}
	.layout-tv #childrenCollapsible .mediaInfoItem {padding-top:1vw;}
	.layout-tv #childrenCollapsible .starRatingContainer {padding-top:0;}
	.layout-tv #childrenCollapsible .listItem .secondary {text-align: justify;}

/* Page Catégorie */
.layout-tv #moviesPage .alphaPicker-fixed.alphaPicker-tv {padding-top:6.7em;top:4em;}
.layout-tv .detailImageContainer .card .cardBox {display:none;}
.layout-tv .detailPagePrimaryContainer {padding-left: 4vw !important;margin-top:2vw;}
.layout-tv [dir=ltr] .detailPagePrimaryContainer {padding-left: 4vw !important;}
/* Page Film */
	/* Image Fond & Backdrop */
	.layout-tv .backdropImage {background-repeat: no-repeat;background-size: 100%;}
	.layout-tv .withBackdrop {background-size: cover;background-size: 100%;background: linear-gradient(to top, rgba(0,0,0,1) 15%, transparent);background-image:url("https://cdn.jsdelivr.net/gh/r9titi/jellyplex@main/img/backdrop.png")}
	/* Infos Bloc */
	.layout-tv .detailPageWrapperContainer {margin-top:3vw;}
	/* Logo & Titres */
	.layout-tv .itemBackdrop {display:block;height:10vw;}
	.layout-tv .detailLogo {background-position:left;left:4vw;}
	.layout-tv .itemName.parentNameLast {color:#fff;text-transform: capitalize;font-weight:200;font-size:1.5em;}
	.layout-tv .itemName.originalTitle {display:none;}
	/* Media Infos */
	.layout-tv .mediaInfoItem {color:#D5D5D5;}
	.layout-tv .mediaInfoOfficialRating {color: #0D0D0D;border-radius:var(--border-radius-buttons);padding: 2px 7px;background-color: rgba(255,255,255,0.90);border: none;font-weight: 600;}
	.layout-tv .endsAt {width:100%;padding-top:1vw;padding-bottom:1vw;font-weight:600;text-transform: uppercase;color:#1FC000;font-size:.9em}
	/* Notes */
	.layout-tv .starRatingContainer {background-color: rgba(0,0,0,.5);padding:2px 7px;border-radius:var(--border-radius-buttons);color:#e2e2e2;}
	.layout-tv .mediaInfoCriticRatingFresh {background-position: 20%;}
	.layout-tv .mediaInfoCriticRating {background-color: rgba(0,0,0,.5);padding:2px 5px 2px 35px;border-radius:var(--border-radius-buttons);color:#e2e2e2;}
	/* Boutons */
	.layout-tv .mainDetailButtons {margin: 1.5em 0 0 0 !important;}
	.layout-tv .detailButton {border-radius:var(--border-radius-command-buttons);margin:.7% !important;flex-direction: row;color: #b8b8b8;}
	.layout-tv .detailButton:focus:after {content : attr(title);color: #151515;}
	.layout-tv .detailButton:focus, .layout-tv .detailButton:hover {background-color:rgba(255,255,255,1) !important;transform: scale(1) !important;border-radius:var(--border-radius-command-buttons) !important;color:#151515;transition: margin-left 1s;}
	.layout-tv .mainDetailButtons {margin-top: 1.5em; font-size:100%;flex-wrap: wrap;}
	.layout-tv .listViewUserDataButtons {display: none;}
	.layout-tv .detailButton-content {margin:3px;}
		/* Lecture */
		.layout-tv .btnPlay {border-radius:var(--border-radius-play-button);color:#151515;font-size:1em;background:none;margin-right:1vw !important;font-weight: 300;background-color:#fff;margin-left:0 !important;transform: scale(1.2) !important}
		.layout-tv .btnPlay .play_arrow {color:#151515;}
		.layout-tv .btnPlay::after {content: "" !important;color:#151515 !important;font-weight: 600 !important;font-size:1.2em;line-height:1em;}
		.layout-tv .btnPlay:after:focus, .layout-tv .btnPlay:after:hover {color:#151515 !important;}
		.layout-tv .btnPlay:hover, .layout-tv .btnPlay:focus {border-radius: var(--border-radius-play-button) !important;transform: scale(1.4) !important;background-color:#fff !important;font-weight: 300 !important;color:#151515 !important;}
		/* Trailer */
		.layout-tv .material-icons.theaters::before {content:"\e02c";font-family: 'Material Symbols Rounded' !important;font-weight:300;}
		/* Favoris */
		.layout-tv .material-icons.favorite::before {content:"\f884";font-family: 'Material Symbols Rounded' !important;font-weight:300;}
		.layout-tv .material-icons.favorite.ratingbutton-icon-withrating:before {content:"\e87d";font-family: 'Material Symbols Rounded' !important;font-weight:300;}
	/* Selection Version & Audio & Sous-titres */
	.layout-tv .detailPageContent {padding-left: 4vw;margin-top:0;}
	.layout-tv .detailPageSecondaryContainer {padding-top:.25em;}
	.layout-tv .trackSelections {margin:1vw 0 5vw 0;max-width: 100%;}
	.layout-tv .trackSelections .selectContainer .selectLabel {display: none;}
	.layout-tv .detailTrackSelect {background: none;border: none;color:#00A4DC;}
	.layout-tv .trackSelections .trackSelectionFieldContainer {margin:0 2em 0 0 !important;display:inline-flex;max-width:11%;font-size:80%;max-height:1.4vw;color:#fff;line-height:1.8em;padding:.3em;border-radius:var(--border-radius-buttons);}
	.layout-tv .trackSelections .selectContainer .selectAudio, .layout-tv .trackSelections .selectContainer .selectSubtitles, .layout-tv .trackSelections .selectContainer .selectSource {max-width:65%;line-height:1.7em;white-space: normal;font-weight:600;color: #7a7a7a !important;}
	.layout-tv .trackSelections .trackSelectionFieldContainer:focus-within {background:rgba(255,255,255,.2);}
	.layout-tv .trackSelections .selectContainer .detailTrackSelect:focus {color: #fff !important;-webkit-transform:none;transform:none;}
	.layout-tv .trackSelections .selectContainer .selectArrowContainer {top:0.5em;}
		/* Icones */
		.layout-tv .trackSelections .selectVideoContainer::before, .layout-tv .trackSelections .selectAudioContainer:before, .layout-tv .trackSelections .selectSubtitlesContainer::before, .layout-tv .trackSelections .selectSourceContainer:before {font-family: 'Material Symbols Rounded' !important;font-weight:200;margin-right:.2em;font-size:180%;}
			/* Source */
			.layout-tv .trackSelections .selectSourceContainer::before {content:"\e064";}
			/* Video */
			.layout-tv .trackSelections .selectVideoContainer::before {content:"\e02d";}
			/* Audio */
			.layout-tv .trackSelections .selectAudioContainer::before {content:"\e405";}
			/* Subtitles */
			.layout-tv .trackSelections .selectSubtitlesContainer::before {content:"\e048";}
	/* Synopsis & Infos */
	.layout-tv .detailSection {padding-bottom:4vw;}
	.layout-tv .detailSectionContent {color:#fff;text-align:justify;width:60%;margin: 0 0 2vw 0;text-shadow:var(--text-shadow-content);}
	.layout-tv .itemDetailsGroup {color:#A4A4A4;font-size:.9em;}
	.layout-tv .itemDetailsGroup .show-focus:focus, .layout-tv .itemDetailsGroup .show-focus:hover {background-color:transparent;transform: none;color:#fff !important;text-decoration:underline;}
	.layout-tv .detailSection .detail-clamp-text {display: inline-block;}
	.layout-tv .detailSection .itemDetailsGroup .detailsGroupItem .label {color:#00A4DC;font-weight:600;}
		/* Bouton Voir Plus */
		.layout-tv .overview-expand {-webkit-transform:none;transform: none;border-radius:var(--border-radius-buttons);color:#8C8C8C;padding:.5em;}
		.layout-tv .overview-expand:focus {background-color:rgba(0,255,255,0.10);color:#e2e2e2;transform:none;}
	/* Mot Clés, Liens Externes*/
	.layout-tv .itemTags, .itemExternalLinks {display:none;}
	/* Distribution Cercles */
	.layout-tv #castContent {margin-left:1em;}
	.layout-tv #castContent .cardBox {background: none;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
	.layout-tv #castContent .cardImageContainer.coveredImage.cardContent.itemAction.lazy.non-blurhashable.lazy-image-fadein-fast,
	.layout-tv #castContent .cardScalable .cardImageContainer {border-radius: 50%;}
	.layout-tv #castContent .cardPadder.cardPadder-overflowPortrait.lazy-hidden-children, .layout-tv #castContent .cardPadder-mixedPortrait, .layout-tv #castContent .cardPadder-overflowPortrait, .layout-tv #castContent .cardPadder-portrait, .layout-tv #castContent .overflowPortraitCard-textCardPadder {border-radius: 50%;padding-bottom: 100%;}
	.layout-tv #castContent .cardOverlayButton-br {bottom: 0;position: absolute;left: 38%;}
	.layout-tv #castContent .cardOverlayContainer {border-radius: 50%;}
	.layout-tv #castContent > button > div > div.cardScalable > div.cardImageContainer.coveredImage.cardContent.lazy.non-blurhashable.lazy-image-fadein-fast {border-radius:50%;}
	.layout-tv #castContent .personCard:focus .cardBox .cardScalable {border-radius:50%;filter:none;border:solid 3px #fff !important; border-color: #fff !important;}
	.layout-tv #castContent .personCard:focus .cardBox .cardScalable::after {background: none;}
	/* PLus de ce genre */
	.layout-tv #similarCollapsible .similarContent {margin-left:.5em;}
/* Lecteur */
.layout-tv .sliderBubble {border-radius:var(--border-radius-buttons);background:rgba(0,0,0,0.40);}
.layout-tv .videoOsdBottom {background:linear-gradient(to top, rgba(0,0,0,.8) 65%, transparent);}
	/* Slider */
.layout-tv .osdControls .mdl-slider-background-flex {border-radius:3em;}
	/* Boutons */
	.layout-tv .osdControls .btnFastForward, .layout-tv .osdControls .btnRewind {display:none;}
		/* Lecture | Pause */
		.layout-tv .osdControls .btnPause, .layout-tv .osdControls .btnPlay {font-size:1.2em;padding:.3em;background:#fff;color:#151515;border-radius:var(--border-radius-play-button);}
	/* Heure Fin */
	.layout-tv .osdControls .osdTimeText {font-weight:600;text-transform: uppercase;color:#1FC000;}
	/* Episode Suivant */
	.layout-tv .upNextContainer {right:2%;border-radius:var(--border-radius-buttons);}
	.layout-tv .upNextContainer h2.upNextDialog-nextVideoText {font-size:1.4em;}
	.layout-tv .upNextContainer .endsAt {padding-top:0;}
	.layout-tv .upNextContainer .emby-button {border-radius:var(--border-radius-buttons);}
	.layout-tv .upNextContainer .emby-button:focus {background:#fff;color:#000;transform:none}
	