/***************************************************
LAYOUT TV
***************************************************/

@import url("https://cdn.jsdelivr.net/gh/prayag17/Jellyfin-Icons/sharp.css");
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/*Général*/
.layout-tv {font-size:125%;font-family: 'Quicksand', sans-serif;}
	/* Image Fond */
	.layout-tv .backdropImage {filter: blur(10px);}
	/* Couleur hover & focus */
	.layout-tv .emby-tab-button.show-focus:hover, .layout-tv .emby-tab-button.show-focus:focus, .layout-tv .paper-icon-button-light:hover:not(:disabled), .layout-tv .paper-icon-button-light:focus:not(:disabled) {color:#E0AE00;}

/* Acceuil */

/* Page Media */
.layout-tv .detailPageContent {padding-left: 6.45vw;}
	/* Titres */
	.layout-tv .detailPagePrimaryContainer {margin-top:10vw;padding-top:1vw;padding-bottom:1vw;display:flex;}
	.layout-tv .detailRibbon {background-color: rgba(0,0,0,0.40) !important;}
	.itemName.parentNameLast.withOriginalTitle {color:#fff;text-transform: capitalize;}
	.itemName.originalTitle {font-style:italic;font-weight:200;}
	/* Media Infos */
	.mediaInfoItem {color:#8C8C8C;}
	.mediaInfoOfficialRating {color: #A4A4A4;border-radius: 3px;padding: 2px 7px;background-color: #0D0D0D;border-color: #0D0D0D;font-weight: 600;}

	/* Boutons */
	.layout-tv .detailButton {border-radius:50%;margin:.8% !important;}
	.layout-tv .detailButton:focus, .detailButton:hover {background-color:transparent !important;color:#E0AE00 !important;transform: scale(1.6) !important;}
	.layout-tv .detailButton-icon {font-size:1em !important;}
	.layout-tv .mainDetailButtons {margin-top: 1.5em; font-size:100%}
	.layout-tv .material-icons.detailButton-icon.play_arrow {color: #000;}
	.layout-tv .listViewUserDataButtons {display: none;}
		/* Lecture */
		.layout-tv .btnPlay {border-radius: 2em;background-color: white;}
		.layout-tv .btnPlay:hover, .layout-tv .btnPlay:focus {background-color: #E0AE00 !important;transform: scale(1.2) !important;}
		.layout-tv .btnPlay::after {content : attr(title);margin: 0 10px 0 2px;color: #000;}
		.layout-tv .btnPlay.detailButton {flex-direction: row;}
		/* Liste Actions */
		.layout-tv .listItem-button:focus{background-color: #E0AE00;color:#000;}

	/* Selection Audio & Sous-titres */
	.layout-tv .trackSelections {margin-bottom:2vw;padding-left:26vw;}
	.layout-tv .trackSelections .selectArrowContainer {color:#E0AE00;}
	.layout-tv .selectLabel {color:#A4A4A4;}
	.layout-tv .detailTrackSelect {background: none;border: none;color:#E0AE00;padding:.3vw !important;}
	.layout-tv .trackSelections .selectContainer .detailTrackSelect:focus {background-color: #E0AE00;color:#000;transform:none;}
	
	/* Synopsis & Infos */
	.layout-tv .detailSection {padding-bottom:5vw;}
	.layout-tv .detailSectionContent {color:#fff;padding-left:26vw;text-align:justify;}
	.layout-tv .itemDetailsGroup {color:#A4A4A4;padding-left:26vw;}
	.layout-tv .itemDetailsGroup .show-focus:focus {background-color:#E0AE00;color:#000!important;}

	/* Mot Clés, Liens Externes*/
	.itemTags, .itemExternalLinks {display:none;}

	/* Distribution Cercles */
	#castContent .cardImageContainer.coveredImage.cardContent.itemAction.lazy.non-blurhashable.lazy-image-fadein-fast,
	#castContent .cardImageContainer.coveredImage.defaultCardBackground.defaultCardBackground1.cardContent.itemAction {border-radius: 50%;}
	#castContent .cardPadder.cardPadder-overflowPortrait.lazy-hidden-children, #castContent .cardPadder-mixedPortrait, #castContent .cardPadder-overflowPortrait, #castContent .cardPadder-portrait, #castContent .overflowPortraitCard-textCardPadder {border-radius: 50%;padding-bottom: 100%;}
	#castContent .cardOverlayButton-br {bottom: 0;position: absolute;left: 38%;}
	#castContent .cardOverlayContainer {border-radius: 50%;}
	#castContent > button > div > div.cardScalable > div.cardImageContainer.coveredImage.cardContent.lazy.non-blurhashable.lazy-image-fadein-fast {border-radius:50%;}


